<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<title>Welcome!</title>
</head>
<script type="text/javascript">

function renderCinemaTheaters(data) {
	// JAX-RS serializes an empty list as null, and a 'collection of one' as an object (not an 'array of one')
	var list = data == null ? [] : (data instanceof Array ? data : [ data ]);
	cinemas = list;
	$.each(list, function(index, cinema) {
        $('#cinemas').append("<p><b style=\"color:blue;\">"+cinema.name+"</b></p>");
	});
	
}


function getCinemas() {
    console.log( "ready!" );
    $.ajax({
    	type : 'GET',
		url : 'http://localhost:8080/load_cinemas',
		dataType : "json", // data type of response
		success : renderCinemaTheaters,
	});
}

getCinemas();
</script>
<body>
	<p></p>
	
	<div id="cinemas">
		
	</div>
	
</body>
</html>