.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

/* Style the header links */
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #ddd;
  color: black;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */ 
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

#cinthe{
	width:500px;
	margin: 0 auto;	
}

div.cinthe{
	float:left; 
	border:grey solid 2px; 
	text-align: center;
	color: black;
}

img.cinthe {height: 240px;width: 240px;}


div.cinthe_list{
	display: none;
	border:gray solid 2px;
	position: fixed;
	margin: 0 auto;
    z-index: 1;
    top: 180;
    left: 350;
    width: 700px;
    height: 200px;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

a.cinthe_list{
	border: #F0F8FF solid 1px;
	font-style: oblique;
	font-weight: bold;
	color: #F0F8FF;
}

div.cinthe_details{
	display: none;
	border: solid 2px;
	position: fixed;
	margin: 0 auto;
    z-index: 1;
    top: 180;
    left: 450;
    width: 600px;
    height: 200px;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(72,61,139,0.4); /* Black w/ opacity */
}